#logo{
    grid-area: logo;
    margin-left: 50px;
}

#eslogan{
    grid-area: eslogan;
    color: orange;
    font-size: 3em;
    font-family: cursive;
    margin: auto;
}

#login{
    grid-area: login;
    margin: auto;
}

#user label{
    color: white;
    font-family: arial;
}

#pass label{
    color: white;
    font-family: arial;
}

#entrar input{
    background-color: orange;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 1.5em;
    font-family: "Comic Sans";
}

header{
    display: grid;
    grid-template-areas: 'logo eslogan login';
    background-color: black;
}

main{
    font-size: 1.5em;
    font-family: Arial;
    text-align: center;
    margin: 0px;
    background-color: orange;
}

#plataformas img{
    background-color: bisque;
    height: 150px;
    border: 5px solid black;
    padding: 10px;
}

footer{
    background-color: darkred;
    border: 1px solid black;
    color: white;
    text-align: center;
}